@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,200&display=swap');

*{
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
body{
    background-color: #090E16;
}
/*displey flex es para que este en modo horizontal, o sea que esten a lado del otro*/
/*justify-content: space-between hace que los espacios esten de extremo a extremo*/
/**/
/**/
/**/
.nav{
    background-color: #0F1120;
    width: 1700px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 25px;
    margin-left: 5%;
    padding: 5px;
    border-radius: 10px;
}

.logo img{
    height: 30px;
    width: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .link a{
    text-decoration: none;
}

ul{
   list-style: none;
}

li{
    display: inline-block;
    padding: 0 20px;
}

.main{
    display: flex;
    text-align: center;
    margin-top: 200px;
}

.izquierda{
    display: inline-block;
    margin-right: 500px;
}

.izquierda .bienvenido {
    background-color: #14142A;
    border-radius: 10px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 100px;
    margin-left: 97px;
}

.izquierda .nombre{
    
    margin-top: 20px;
    margin-left: 97px;
}

.izquierda .info{
    color: rgb(168, 168, 168);
    margin-top: 5px;
    margin-left: 97px;
}

.link-social{
    margin-top: 15px;
    margin-left: 97px;
}

.link-social .git img{
    background-color: #7e7e7e;
    border-radius: 20px;
    height: 40px;
    width: auto;
}

.link-social .linked img{
    background-color: #7e7e7e;
    border-radius: 20px;
    height: 40px;
    width: auto;
}

.link-social .tik img{
    background-color: #7e7e7e;
    border-radius: 20px;
    height: 40px;
    width: auto;
}

.medio{
    margin-right: 500px;
}
.medio img{
    background-color: white;
    border-radius: 50%;
    height: 400px;
    width: auto;
}

.derecha {
    margin-top: 200px;
}

.derecha .cv{
    margin-bottom: 20px;
}

.derecha .chat{
    background-color: #090E16;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px 25px;
}